[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.assignments-link {
  float: right;
  position: relative;
  right: 20px;
  color: white;
}

.title {
  text-align: center;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.center {
  margin: 0 auto;
}

.content {
  width: 50%;
  position: relative;
  left: 8px;
}

html, body, md-card-title {
  color: white;
  background-color: #106cc8;
}

md-card-content {
  font-weight: 500;
  font-size: 18px;
}

i {
  position: relative;
  top: 6px;
}
